{% extends 'base.html.twig' %}

{% block body %}
    <style type="text/css">
        thead th {
            background-color: #006DCC;
            color: white;
            text-align: center;
        }
        tr:nth-child(even) {background: #99CDD8}
        tr:nth-child(odd) {background: #4f9fcf}
    </style>
    <table class="table-bordered">
        <thead>
        <tr>
            <th width='3%'>#</th>
            <th width='25%'>Name</th>
            <th width='25%'>Type</th>
            <th width='20%'>Constraint</th>
            <th width='25%'>Cost</th>
            <th width='2%'>Details</th>
        </tr>
        </thead>
        <tbody>
        {% for key,item in searchResult %}
            <tr>
                <td align="center">{{ key+1 }}</td>
                <td >{{ item.name }}</td>
                <td>{{ item.type  }}</td>
                <td>{{ item.eConstraint }}</td>
                <td>{{ item.cost }}</td>
                <td>
                    {% if (item.children|length > 0 ) %}
                        {% image '@AppBundle/Resources/public/images/details.gif' %}
                            <img src="{{ asset_url }}" alt="Example" onclick="showDetails({{ item.id }});"/>
                        {% endimage %}
                    {% endif %}
                </td>
            </tr>
            {% if (item.children|length > 0 ) %}
            <tr id="tr_{{ item.id }}">
                <td>&nbsp;</td>
                <td id="td_{{ item.id }}" width="100%" align="center" colspan="4">
                    <table width="100%" align="center">
                        {% for index,child in item.children %}
                            <tr>
                                <td>{{ key+1 }}-{{ index+1 }}</td>
                                <td>{{ child.name }}</td>
                                <td>{{ child.type  }}</td>
                                <td>{{ child.eConstraint }}</td>
                                <td>{{ child.cost }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
                <td>&nbsp;</td>
            </tr>
            {% endif %}
        {% endfor %}
        <tr>
            <td colspan="6"></td>
        </tr>
        </tbody>
    </table>
{% endblock %}